<div class="pull-left">
  <h4><%- siteTitle %></h4>
</div>
<% if (feedsCount > 0) { %>
<div class="pull-right">
  <div class="btn-group dropleft">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
      <li><a href="#" class="title-only">Title only</a></li>
      <li><a href="#" class="title-and-header">Title and header</a></li>
    </ul>
  </div>
</div>
<% } %>
<div class="clearfix"></div>

<p>
  <table class="table table-condensed table-hover"></table>
</p>

<% if (feedsCount > 0) { %>
  <button class="btn btn-primary btn-block" id="mark-read">Mark all as read</button>
<% } %>
